notebook > header > tabs > tab box.selected {
    background-color: #EEEB00;
}

toolbutton button {
        border-color : #bcbebf;
        border-width : 1px;
        border-radius: 5px;
}

notebook tab {
    border-right: 1px solid #bcbebf;
    border-left: 1px solid #bcbebf;
    margin-left: -5px;
    padding: 2px 4px;
}

notebook header tabs tab button {
    padding: 0;
    min-height: 0;
    min-width: 0;
}

box.servers-header {
    padding: 6px 4px 6px 6px;
    border-bottom: 1px solid #bcbebf;
}

box.servers-header button {
    padding: 0 2px;
    min-height: 0;
    min-width: 0;
}
